/* Custom CSS Area for Overall Header, Userbar, and Brand Area */

.logo-img {
  float: left;
  margin-right: 20px;
}

.site-name-slogan {
  float: left;
}

.site-name {
  margin-top: 20px;
}

.site-name a {
    color: #FFDD73;
    font-size: 36px;
    letter-spacing: 5.8px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #ffffff;
}

.site-name,
.site-slogan {
  margin-bottom: 0;
  line-height: 1em;
}

.site-slogan {
    color: #33CCCC;
    font-size: 18.2px;
    font-weight: bold;
    letter-spacing: 2.4px;
    line-height: 2;
    margin-top: 2%;
	text-shadow: 1px 1px 20px #eeeeee;
}

.section-header {
    background-color: #4d4d4d;
	border-radius-top: 2px;
    box-shadow: 2px 3px 5px #4d4d4d;
    border-radius-bottom: 2px;
}

.custom-userbar-wrapper {
}

.custom-userbar-zone {
}

.custom-userbar-first-region {
}

.custom-userbar-second-region {
}



.custom-brand-wrapper {
}

.custom-brand-zone {
    
}

.custom-brand-region {
}